.admin__search-creates{
    display: grid;
    // grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 1em;
}

@media screen and (min-width: 700px){
    .admin__search-creates{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
        gap: 1em;
    }
}

.title--admin{ color: $admin; }

.search-create{
    .form-part__button{ background: $admin; }
}

.admin__taxonomy-header{
    text-align: center;
    margin-bottom: 2em;
}

.taxonomy-header{
    &__label{
        font-variant: small-caps;
        opacity: .55;
    }
    &__title{
        margin: 0;
        font-size: 2em;
    }
    &__icon{
        width: 2em;
        .pin__icon{
            width: 1em;
            height: 1em;
            transform: translateY(3px);
            path{
                fill: $admin;
            }
        }
    }
    &__link{
        color: $font;
    }
}

// emails can be large
.admin__taxonomy-header--users .taxonomy-header__title{
    font-size: 1.5em;
}

@media screen and (min-width: 500px){
    .taxonomy-header{
        &__title{
            font-size: 2.5em;
        }
    }
    .admin__taxonomy-header--users .taxonomy-header__title{
        font-size: 2em;
    }
}

.admin__taxonomy{
    &-sections{
        display: grid;

    }
}