.admin__search-creates{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(290px, 1fr) );
    gap: 1em;
}

.title--admin{ color: $admin; }

.search-create{
    .form-part__button{ background: $admin; }
}

.admin__taxonomy-header{
    text-align: center;
    margin-bottom: 2em;
}

.taxonomy-header{
    &__label{
        font-variant: small-caps;
        opacity: .55;
    }
    &__title{
        margin: 0;
        font-size: 2em;
    }
    &__icon{
        width: 2em;
        .pin__icon{
            width: 1em;
            height: 1em;
            transform: translateY(3px);
            path{
                fill: $admin;
            }
        }
    }
    &__link{
        color: $font;
    }
}

@media screen and (min-width: 500px){
    .taxonomy-header{
        &__title{
            font-size: 2.5em;
        }

    }
}