.error{
    &__container{
        text-align: center;
        flex: 0 0 100%;
        order: 100;
    }
    &__icon{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: .5em;
        font-size: 14px;
        line-height: 22px; // = 24px;
        color: #fff;
        position: relative; z-index: 10; // put ! in front
        
        // this styles the orange triangle (in the background)
        &:before{
            position: absolute; top: 0; left: 0;
            z-index: -10; // put ! in front
            content: "";
            // style triangle
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 18px 10px;
            border-color: transparent transparent $orange transparent;
        }
    }
    &__message{
        display: inline;
        color: $orange;
        font-style: italic;
    }
}

// this overrides the default behaviour to align an error center
// it's only used in manageUpload
.manage-upload__error{
    .error{
        &__container{ text-align: left; }
    }
}