// fancy titles, used on location and tag overview pages

// complex titles
.title__container{
    display: flex;
    justify-content: center;
    margin: 0 0 1em 0;
    & + .no-data,
    & + .error__container{
        margin-top: 3em;
    }
    & + .loader__container{
        margin-top: 1em;
    }
}

.items__title{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: .6em;
    margin: 0; // reset
    color: $font;
    
    // add icon on location and country
    &--single-location, 
    &--single-country{
        background: url('../public/bluepin.svg') no-repeat center top / 40px;
    }
    // add icon on tag
    &--single-tag{
        &:before{
            content: "#";
            display: block;
            color: $blue;
            text-align: center;
            font-size: 70px;
        }
    }
}

@media screen and (min-width: 550px){

    .items__title{
        width: auto;
        min-width: 500px;
    }

}

// a location, f.e. Brussels
.title__name{
    font-family: 'Carter One', cursive;
    // inherits 2em from h1
    line-height: 1em;
    text-align: center;
}

// pic count -> f.e. 6 pics
.title__count{
    align-self: flex-end; // right align inside items__title
    display: flex; // center align items -> 6pics
    min-height: .75em; // reserve space while the data loads
    &-number{
        font-size: 20px;
    }
    &-label{
        font-size: 16px;
        font-style: italic;
        font-variant: small-caps;
        color: $blue;
        padding-left: .25em;
    }
}

// country name: f.e. = BELGIUM =
.title__country-container{    
    width: 100%;
    max-width: 500px; // don't let 'wings' grow beyond that
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 0 1em; // keep wings visible

    &:before{
        box-sizing: border-box;
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        background: $blue;
        position: absolute; left: 0; z-index: 1;
        top: 6px;
        .items__title--single-location &{
            top: 16px; 
        }
    }
}

.title__country{
    display: inline-block;
    padding: 0 .5em;
    position: relative; z-index: 10;
    background: $whiteback;
    color: $font;
    font-size: 18px;
    line-height: 1em;
    font-weight: 400;
    text-transform: capitalize;
    font-variant: small-caps;
}

@media screen and (min-width: 500px){
    
    .items__title{
        &--single-location, 
        &--single-country{
            background-size: 50px;
        }
    }
    .title__name{
        font-size: 1.5em;
        margin: .2em 0 .15em 0;
    }
    .title__count{
        &-number{ font-size: 24px; }
    }
    .title__country-container{    
        &:before{
            height: 6px;
            top: 0;
            .items__title--single-location &{
                top: 14px; 
            }
        }
    }
    .title__country{
        font-size: 22px;
    }

}