// fancy titles, used on location and tag overview pages

.fancy-title{
    // by adding container we can center content without stretching it
    &__container{
        display: flex;
        justify-content: center;
    }

    // the header tag
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 10;

    // the wings
    &:after{
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background: $blue;
        position: absolute;
        z-index: -10;
        bottom: 12px;
    }
    &--locations:after{ // the wings are higher up cause there is country link underneath
        bottom: 30px;
    }
    
    // count and edit link
    &__meta{
        display: flex;
        flex-direction: row-reverse; // so pic count always goes right
        justify-content: space-between;
    }
    // only visible for admins
    &__admin-link{
        color: $admin
    }
    // pic count -> f.e. 6 pics
    &__count{
        font-family: 'Carter One', cursive;
        display: flex; // center align items -> 6pics
        min-height: .75em; // reserve space while the data loads
        &-number{
            font-size: 1.25em;
            color: $font;
        }
        &-label{
            font-variant: small-caps;
            font-style: italic;
            color: $blue;
            padding-left: .2rem;
        }
    }

    &__name{
        font: 1.6em/1.2em 'Carter One', cursive;
        color: $font;
        text-align: center;
        word-break: break-word;
        align-self: center;
        background: $whiteback;
        margin: 0;
        padding: 0 .55rem;

        // add # to tags
        .fancy-title--tags &{
            &:before{
                content: "#";
                color: $blue;
                margin-right: .3rem;
            }
        }
        // add pin to locations
        .fancy-title--locations &, 
        .fancy-title--country &{
            padding-left: 2rem;
            background: $whiteback url('../public/bluepin.svg') no-repeat left top / 30px;
        }
    }

    &__subtitle{
        display: inline-block;
        padding: 0 .5rem;
        color: $font;
        //font-size: 1em; // 16px
        line-height: 1em;
        font-weight: 400;
        text-transform: capitalize;
        font-variant: small-caps;
        text-align: center;
        align-self: center;
    }
}


@media screen and (min-width: 550px){

    .fancy-title{
        width: auto;
        min-width: 500px;

        // the wings
        &:after{
            bottom: 16px;
        }
        &--locations:after{
            bottom: 34px;
        }
        &__name{
            font-size: 2em;

            .fancy-title--locations &, 
            .fancy-title--country &{
                padding-left: 2.5rem;
                background-size: 38px;
            }
        }
        &__subtitle{
            font-size: 1.125em; // 18px
        }
    }
}