.site__footer{
    max-width: 1800px;
    border-top: 1px solid #ddd;
    margin: 5em auto 3em auto;
    padding-top: 3em;

    display: grid;
    gap: 1em;
    
    line-height: 1.8em;
}

.footer{


    &__title{
        font-variant: small-caps;
        opacity: .75;
        margin-bottom: .75em;
    }

    &__link{
        display: block;
        color: $font;
        opacity: $opacityDimmedFont;
        @include baseTransition(opacity);
        &:hover{
            opacity: 1;
        }
    }

    &__slogan, &__copy{
        opacity: $opacityDimmedFont;
    }

}

// builds on logo in header and on footer__title
.logo__number--footer{
    padding: 0 .25em 0 .1em;
    &:before{
        background: $font;
    }
}
.logo__label--footer{
    margin-left: .1em;
}

@media screen and (min-width: 450px){
    .site__footer{
        margin: 6em auto 3em auto;
        padding-top: 3em;

        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }
}

@media screen and (min-width: 800px){
    .site__footer{
        margin: 8em auto 4em auto;
        padding-top: 4em;

        grid-template-columns: repeat(4, minmax(150px, 250px));
        justify-content: center;
        grid-template-areas: 
            "logo about stack contact"
            "logo about source contact";
    }
    .footer{
        &__section{
            &--logo{
                grid-area: logo;
            }
            &--about{
                grid-area: about;
            }
            &--stack{
                grid-area: stack;
            }
            &--source{
                grid-area: source;
            }
            &--contact{
                grid-area: contact;
            }
        }
    }
}