
// some grids

/* this grid is used to display itemS in overview pages like, home, tag or location page, youritems and yourvotes */
.grid-items{
    display: grid;
    grid-template-columns: minmax(250px, 750px);
    grid-gap: 2em;
    justify-content: center;
}

@media screen and (min-width: 1100px){
    
    /* holds the items, layout in 2 symmetric columns */
    .grid-items{
        grid-template-columns: repeat(2, minmax(350px, 750px));
    }

}

.form-grid{ // for user forms
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(200px, 350px);
}