// structures the header, layout the logo, search bar and menu with even space between them
.site__header{
    max-width: 1800px;
    margin: 0 auto 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

@media screen and (min-width: 800px){
    .site__header{
        flex-wrap: nowrap;
        margin-bottom: 4em;
    }
}

.logo{
    flex-shrink: 0;
    display: flex;
    flex-wrap: nowrap; // don't break label and number up
    text-decoration: none;
    font-size: 1.625em; // 26px
    line-height: 1.6158em; // 42px
    position: relative; top: 2px; // slightly adjust for better positioning

    &:focus{
        outline: none; // cause single page app
    }
    
    &__number{ // the syling of the logo number, the blue back is done with before
        color: $whiteback;
        padding: 0 .2em 0 .1em;
        letter-spacing: -2px;
        position: relative; // to position :before
        z-index: 100;
    
        &:before{
            content: "";
            display: block;
            position: absolute; left: 0; top: 0;
            width: 100%; height: 100%;
            z-index: -10; //place below number
            background: $blue;
            transform: skew(-12deg);
        }
    }

    &__label{ // logo text
        font-family: 'Carter One', cursive;
        color: $font;
        margin-left: .15em;
    }

}


//
// search
// on mobile, .search__container sits on its own line, 800+ tucked in between logo and menu
//

.main-search__container{
    order: 4; // 1 is logo, 2 is button, 3 is site__menu and 4 is .search__container
    flex: 0 0 100%;
    margin: 1em 0 0 0;
    position: relative;  // for dropdown
    z-index: 10000;
}

@media screen and (min-width: 800px){
    .main-search__container{
        order: 0; //reset
        flex: 0 1 600px;
        margin: 0 1em 0 1em;
        position: relative;
    }
}

.main-search__input{
    @include input-with-loader;
}

// loader see loader .scss

.main-search__dropdown{
    background: #fff;
    box-sizing: border-box;
    border-left: 1px solid $dimmedBorder;
    border-right: 1px solid $dimmedBorder;
    width: 100%;
    position: absolute;
    left: 0; top: 2em;

    &__result{
        padding: .15em .5em;
        transition: padding-left $transitionDuration ease-in, background-color .075s ease-in;
        &:hover{
            cursor: pointer;
        }
        &--error{
            color: $orange;
        }
        &:first-child{ border-top: 1px solid $dimmedBorder; } // this forms the top border of the dropbox
        &:last-child{ border-bottom: 1px solid $dimmedBorder; } // border-bottom of dropbox
    }
    &__result-type{
        font-variant: small-caps;
        background: $blue;
        color: #fff;
        padding: 0 .15em;
        float:right;
        font-size: 14px;
        line-height: 1.4em;
        margin-top: 3px;
    }
}


//
// site__menu
// mobile = -800px
// always show the menu toggle button at mobile, hide it at larger
// mobile: show the site__menu when toggled open, hide when toggled closed
// always show the site__menu when 800px +
//

.site__menu{
    // .site__menu is both a flex item and parent
    // on smallest width, it gets its own line by flex-basis -> 100%
    flex: 0 0 100%; 
    
    // on smallest size, direction column;  +450px -> row
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 0 0; // between logo and menu

    > * {
        margin: 0 0 .75em 0;
        flex-shrink: 0; // don't let the menu items shrink, don't break with their :before
    }
    &--closed{
        display: none;
    }
    // &--open{
    //     // display: flex;
    // }
}

.menu-toggle__button{
    @include button-as-link;
    overflow: hidden;
    text-indent: -9999px;
    width: 30px;
    height: 32px;
    align-self: center;
    &:focus{
        outline-style: none;
    }
}
.ham{
    background: $font;
    @include baseTransition(background-color);
    width: 100%;
    height: 4px;
    margin-top: 4px;
    border-radius: 1px;
    &:last-child{
        margin-bottom: 0;
    }
    .menu-toggle__button:hover &{
        background: $blue;
    }
    .menu-toggle__button:active &{
        background: $red;
    }

    transform-origin: right;
    transition: transform .075s $transitionFunction, opacity .075s $transitionFunction;
    
    .menu-toggle__button--open &{
        &--1{ transform: translateY(-3px) translateX(-4px) rotate(-45deg); }
        &--2{ opacity: 0; }
        &--3{ transform: translateY(2px) translateX(-4px) rotate(45deg); }
    }
}



@media screen and (min-width: 500px){
    .site__menu{
        flex-direction: row;
        > * {
            margin: 0 .6em 0 0;
        }
    }
}

@media screen and (min-width: 575px){
    .menu-toggle__button{
        display: none;
    }
    .site__menu{
        flex: 0 0 auto;
        &--open, &--closed{
            display: flex;
        }
    }
}

.mymenu{
    text-decoration: none;
    &__label{
        color: $font;
        margin-right: .2em;
        text-decoration: underline;
    }
    &__number{
        background: $blue;
        color: #fff;
        padding: .05em .2em;
    }
    &:active, &:visited{
        color: $font;
    }
    &:focus{
        outline: none;
    }
}

.menu__item{
    color: $font;
}

.menu-upload{
    background: $green;
    padding: .1em 1em .1em 2.4em;
    @include border-radius;
    text-decoration: none;  
    position: relative;
    display: inline-block;
    min-height: 1.625em;
    
    &:focus{
        outline: none;
    }

    .upload__icon{
        fill: #fff;
        width: 15px;
        height: 18px;
        position: absolute;
        left: 12px; top: 6px; 
    }
    &__label{
        color: #fff;
    }
}

.logout__button{
    @include button-as-link;
    &:focus{
        outline: none;
    }
}
.login__button{
    color: $font;
    &:focus{
        outline: none;
    }
}

.menu-link__admin{ 
    color: $admin; 
    font-variant: small-caps;
}

@media screen and (min-width: 500px){
    .menu-link__admin{ 
        padding-right: .75em;
        border-right: 1px solid $dimmedBorder;
    }
}