// styling for input-suggestion and it's dropdown

.input-suggestion{
    // &__container{
    //     position: relative;
    // }
    &__input-container{ // the input and a clear button
        display: grid;
        grid-template-columns: 1fr 30px;
    }
    &__input{
        // fix it to first row and col so it can be layed over with loader
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 3px;
    }
    &__loader{ // stack the loader on top of the input in the same grid cell
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        justify-self: end;
        width: 24px;
        height: 10px;
        margin-right: 4px;
    }

    &__dropdown{
        background: #fff;
        border-left: 1px solid $font;
        border-right: 1px solid $font;
        width: 100%;
        position: absolute; // absolute to form-part__section
        z-index: 1000; // above content that sits below the dropdown
        left: 0; 
        // top: 2em; // leave it in it's natural position
        @include border-radius;
    }
    &__result{
        padding: .15em .5em;
        transition: padding-left .1s ease-in, background-color .075s ease-in, color .075s ease-in;
        &:hover{ cursor: pointer; }
        &:first-child{ border-top: 1px solid $font; }
        &:last-child{ border-bottom: 1px solid $font; }
        
        &__countryCode{
            font-variant: small-caps;
            background: $blue;
            color: #fff;
            padding: 0 .25em;
            float: right;
            font-size: 14px;
            line-height: 1.4em;
            margin-top: 3px;
        }
    }
}
