/*
    the styling of the Item component and SingleItem component
*/

// the item gets grid for gap and to allow the image link to center
.item{
    display: grid;
    align-content: start;
    grid-gap: .5em 0;
}


//
// .item__image
//

.item__image__link{
    justify-self: center;
}
.item__image{
    max-width: 100%;
    max-height: 650px; // make portrait pics a bit smaller
    display: block; // no inline spaces!

    &--large{ // for single item display
        justify-self: center;
        max-height: 90vh;
    }
}


//
// edit items, only shown in my pics part
//

.item__edit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
.item__edit-link{
    color: $green;
    // margin-right: .5em;
    //margin-bottom: .5em;
    .item__edit--admin &{
        color: $admin;
    }
}
.item__delete-button{
    @include button-reset($green);
    &--admin{
        @include button-reset($admin);
    }
    .item__edit--admin &{
        @include button-reset($admin); // todo what is this with these classes?
    }
    padding: .25em .5em;
    //margin: 0 0 .5em .35em;
    margin: 0 .5em .5em .5em;
}

.update-item__header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    .title{
        margin: 0 0 .5em 0;
    }
    .item__delete-button{
        margin-left: 1.2em;
    }
}


//
// .item__meta -> holds votes, vote button, tags and location
//

.item__meta{
    display: flex;
    align-items: baseline;
    justify-content: center; // horizontally center all meta
    flex-wrap: wrap;
}

//
// button styles
//

.item__vote-button{ // the hover is done with opacity on :before
    @include button-reset($red);
    font-size: 14px;
    line-height: 20px;
    padding: 0 .75em;
    margin-bottom: .5em;
    position: relative; z-index: 100;

    &:before{
        box-sizing: border-box;
        content: "";
        width: 100%; height: 100%;
        position: absolute; left: 0; top: 0; 
        z-index: -10;
        @include border-radius;
        border: 1px solid #fff;
        box-shadow: 0 0 0 1px $red;
        opacity: 0;
        @include baseTransition(opacity);
    }
    &:hover:before{
        opacity: 1;
    }
    &[disabled]{ // when mutation is loading, visually show button is 'off'
        opacity: .5;
    }
}


//
// .item__votes -> label and vote number
//

.item__votes{
    display: flex;
    flex-wrap: nowrap; // don't break label and number up
    margin: 0 .5em .5em 1em; // sets margin with button and with tags

    &__label{
        font-variant: small-caps;
        margin-left: .15em;
    }
    &__number{
        color: #fff;
        padding: 0 .3em;
        position: relative; // to position :before
        z-index: 100;
    
        &:before{ // the skewed bg is done with before, cause we don't wanna skew the number
            content: "";
            display: block;
            position: absolute; left: 0; top: 0;
            width: 100%; height: 100%;
            z-index: -10; //place below .item__votes__number
            background: $blue;
            transform: skew(-12deg);
        }
    }
}

//
// tags -> hold tags and location
//

.item__tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 .5em 0;
    & *{
        flex-shrink: 0; /* don't let them break with the icon */
    }
}
/* these style location and tags #test #test 2, <a> */
.item__tag{
    margin: 0 .25em 0 0; /* margin between tags */
    color: $font;
    opacity: $opacityDimmedFont;
    @include baseTransition(opacity);

    &:hover{
        opacity: 1;
    }
    &:last-child{
        margin: 0;
    }
    &--tag:before{
        content: "#";
        display: inline-block;
        padding-right: .1em;
    }
    &--location:before{
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url("../public/pin.svg") no-repeat 0 0/14px;
        margin: 0 1px -2px 0;
    }
}

// for errors, see _errors.scss