body{
    padding: 1em;
    background: $whiteback;
}

@media screen and (min-width: 1100px){
    body{
        padding: 2em;
    }
}

.site__main{
    min-height: 30em;
    min-height: 40vh;
    margin-bottom: 3em;
}

.no-data{
    text-align: center;
}
.items__message{
    text-align: center;
}
.extra-margin{
    margin-top: 3em;
    .upload{
        margin-left: .75em;
    }
}
