@mixin button-as-link{
    display: inline;
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    color: $font;
}

@mixin border-radius{
    border-radius: $borderRadius;
}

@mixin button-reset($background-color){
    background: $background-color;
    color: #fff;
    border: none;
    @include border-radius;
    cursor: pointer;
}

@mixin input-with-loader{
    width: 100%;
    border: 1px solid $dimmedBorder;
    @include border-radius;
    padding: .25em 2em .25em .5em;
    color: $font;
}

@mixin baseTransition($property){
    transition: $property $transitionFunction $transitionDuration;
}