@mixin button-as-link{
    display: inline;
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

@mixin border-radius{
    border-radius: $borderRadius;
}

@mixin base-input{
    width: 100%;
    @include border-radius;
    border: 1px solid $lightgrey;
    padding: .25em 2em .25em .5em;
    color: $darkfont;
}