.items__pagination{
    margin: 2em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; // ugly shortcut for long pagination
    position: relative;
    padding-top: 1em;
    &:before{ // creates HR above pagination
        content: "";
        position: absolute; top: 0;
        width: 100%;
        max-width: 300px;
        border-top: 1px solid $dimmedBorder;
    }
}
.pagination__link{
    color: $font;
    padding: .1em .3em;
    display: block;
    opacity: $opacityDimmedFont;
    transition: transform .025s $transitionFunction, opacity $transitionDuration $transitionFunction;
    &:hover{
        opacity: 1;
        transform: scale(1.15);
    }
    &--prevnext{
        margin: 0 .5em;
    }
    &--current{
        font-size: 2.4em;
        padding: 0 .1em;
        opacity: 1;
        &:hover{ 
            opacity: 1;
        }
    }
    &--prevnext, 
    &--current{
        transform: scale(1);
        &:hover{ 
            transform: scale(1);
        }
    }
}