body{
    font: 16px/1.625em 'Roboto', sans-serif; // 26px line-height
    color: $font;
}

h1{ font-size: 2em; }
h2{ font-size: 1.5em; }
h3{ font-size: 1.125em; }

p, ul, ol{
    margin-bottom: 1.625em;
}