@import '../node_modules/html5-boilerplate/dist/css/normalize.css';

*{
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@import 'variables.scss';
@import 'typography.scss';
@import 'mixins';

@import 'header';
@import 'loader';
@import 'grids';
@import 'main';
@import 'titles';
@import 'order';
@import 'item.scss';
@import 'error';
@import 'pagination';
@import 'formParts';
@import 'forms'; // add it below formParts!
@import 'itemCrud';
@import 'inputSuggestion';
@import 'manageUpload';
@import 'howitworks';
@import 'howitworksAnimations';


